.calendar__circle-btn {
  background-image: url(../../../images/calendar-btn.svg);
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 30px;
}

.calendar__circle-btn:hover {
  background-color: var(--light-blue);
}

@media (min-width: 320px) and (max-width: 1023px) {
  .calendar__circle-btn {
    width: 40px;
    height: 40px;
    background-size: 40px;
  }
}
