@media (min-width: 1024px) {
  .calendar__date_popup {
    font-size: 100px;
    line-height: 100%;
  }
}

@media (min-width: 320px) and (max-width: 1023px) {
  .calendar__date_popup {
    font-size: 60px;
  }
}
