/* article */

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 570px;
  flex-basis: 570px;
  padding: 15px 30px;
  border-radius: 30px;
  box-sizing: border-box;
}

@media (max-width: 1900px) {
  .article {
    max-width: 370px;
  }
}

@media (max-width: 1024px) {
  .article {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .article {
    max-width: 290px;
  }
}
