.article__photo {
  display: block;
  border-radius: 15px;
  max-height: 394px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1140px) {
  .mantor__photo {
    max-height: 629px;
  }
}

@media (max-width: 1024px) {
  .mantor__photo {
    max-height: 346px;
  }
}

@media (max-width: 768px) {
  .mantor__photo {
    max-height: 142px;
  }
}
