.calendar__activity {
  font-weight: 300;
  font-size: 23px;
  line-height: 130%;
  color: #000;
  margin: 0;
  grid-area: activity;
}

@media (min-width: 320px) and (max-width: 1439px) {
  .calendar__activity {
    font-size: 19px;
    line-height: 121%;
  }
}
