.click-item {
  font-weight: 300;
  font-size: 15px;
  line-height: 127%;
  letter-spacing: .2px;
  color: var(--basic-blue);
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 640px) {
  .click-item {
    font-size: 12px;
    line-height: 142%;
  }
}
