.calendar__header {
  margin: 30px 30px 40px 30px;
  column-gap: 36px;
  row-gap: 10px;
  display: grid;
  grid-template-columns: 320px 154px;
  grid-template-rows: repeat(2, max-content);
  grid-template-areas:
    "title month"
    "activity date";
}

@media (min-width: 320px) and (max-width: 640px) {
  .calendar__header {
    margin: 30px 15px 45px 15px;
    grid-template-areas:
      "title month month"
      "activity activity date";
    grid-template-columns: 103px 63px 70px;
    column-gap: 12px;
    row-gap: 5px;
  }
}
