.calendar__header {
  margin: 30px 30px 50px 30px;
  max-width: 100%;
  column-gap: 36px;
  row-gap: 10px;
  display: grid;
  grid-template-columns: 320px 154px;
  grid-template-rows: repeat(2, max-content);
}
