.calendar__month {
  font-size: 14px;
  line-height: 136%;
  font-weight: 400;
  text-align: right;
  color: #000;
  margin: 0;
  grid-area: month;
  letter-spacing: .2px;
}

@media (min-width: 320px) and (max-width: 1439px) {
  .calendar__month {
    font-size: 12px;
    line-height: 142%;
  }
}
