.button_light {
  min-width: 94px;
  max-width: 207px;
  height: 48px;
  margin: 0;
  border: 1px solid #224cff;
  border-radius: 100px;
  font-weight: 300;
  font-size: 15px;
  line-height: 127%;
  color: #224cff;
  letter-spacing: .2px;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.button_light:hover {
  background: #c8d1ff;
}

@media (min-width: 320px) and (max-width: 1439px) {
  .button_light {
    min-width: 71px;
    height: 40px;
    font-size: 12px;
    line-height: 142%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
