.date-numbers {
  font-weight: 300;
  font-size: 100px;
  line-height: 100%;
  margin: 0;
  color: #000;
  letter-spacing: -2px;
}

@media (min-width: 320px) and (max-width: 1439px) {
  .date-numbers {
    font-size: 60px;
    line-height: 100%;
  }
}
