.calendar__contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 136%;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #1a1a1a;
  border-bottom: 1px solid #a7a6a6
}

.calendar__contact:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

@media (min-width: 320px) and (max-width: 640px) {
  .calendar__contact {
    font-size: 12px;
    line-height: 142%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
