.header__burger {
  display: none;
}


@media (max-width: 1340px) {
  .header__burger {
    order: 1;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 15px;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/icon-burger.svg);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    box-sizing: border-box;
  }
}


@media (max-width: 320px) {
  .header__burger {
    order: 1;
  }
}
