.button {
  min-width: 94px;
  max-width: 207px;
  height: 48px;
  margin: 0;
  border: 1px solid #000;
  border-radius: 100px;
  font-weight: 300;
  font-size: 15px;
  line-height: 127%;
  color: #000;
  letter-spacing: 0.2px;
}

.button:hover {
  background: #e0e0e0;
}

@media (min-width: 320px) and (max-width: 640px) {
  .button_pushed {
    min-width: 71px;
    height: 40px;
  }
}
